<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded"> We combine extensive testing against industry recognized standards and frameworks with creative solutions designed specifically to mimic real-world attacks. No stone is left unturned. Our goal is to show you how an attacker would gain unauthorized access to your systems... and more importantly, how you can stop them.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
